* { box-sizing: border-box; }
html,
body {
	width: 100%;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
}


.flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#app {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
}
#content {
	overflow: auto;
}

.board {
	position: relative;
	background-color: #000;
	color: #000
}

.board > .bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ddd; z-index: 0; }

.board > .fg { position: relative; z-index: 1; pointer-events: none; }

.board td { min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px; text-align: center; vertical-align: middle; }

.board td.cell { background-color: #fff; border: solid 1px #000; }

.board td.bg { background-color: #000; }

.board td.start { background-color: #FC0; }

.board td.border-top { border-top: 1px solid #000; }

.board td.border-left { border-left: 1px solid #000; }

.board td.border-right { border-right: 1px solid #000; }

.board td.border-bottom { border-bottom: 1px solid #000; }

.board td.door-top { border-top-color: #0C0; }

.board td.door-left { border-left-color: #0C0; }

.board td.door-right { border-right-color: #0C0; }

.board td.door-bottom { border-bottom-color: #0C0; }

.board td.room { background: transparent center center no-repeat; background-size: cover; }

.board td.room div { display: inline-block; background-color: rgba(255,255,255,.75); padding: 2px 6px; border-radius: 3px; }

.board td.room.border-top { border-top-width: 4px; }

.board td.room.border-left { border-left-width: 4px; }

.board td.room.border-right { border-right-width: 4px; }

.board td.room.border-bottom { border-bottom-width: 4px; }

.board td.room.trapdoor-top-left { background-image: -webkit-linear-gradient(315deg, red 50%, transparent 50%); background-image: linear-gradient(135deg, red 50%, transparent 50%); }

.board td.room.trapdoor-bottom-right { background-image: -webkit-linear-gradient(135deg, red 50%, transparent 50%); background-image: linear-gradient(-45deg, red 50%, transparent 50%); }

.board td.room.trapdoor-top-right { background-image: -webkit-linear-gradient(225deg, blue 50%, transparent 50%); background-image: linear-gradient(-135deg, blue 50%, transparent 50%); }

.board td.room.trapdoor-bottom-left { background-image: -webkit-linear-gradient(45deg, blue 50%, transparent 50%); background-image: linear-gradient(45deg, blue 50%, transparent 50%); }

#sheets,
#cards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.sheet {
	padding: .2in;
	border: dotted .5px #ddd;
	border-radius: .2in
}
.sheet header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 10px; }
.sheet table { border: solid 1px #000; }
.sheet tr.header { background-color: #ddd; font-weight: bold; }
.sheet tr.header td:first-child div { --size: 16px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.sheet tr.header td:first-child div:after { content: ""; background-color: #000; min-width: var(--size); min-height: var(--size); }
.sheet tr.header td:first-child div.characters {
	}
.sheet tr.header td:first-child div.characters:after { border-radius: 50%; }
.sheet tr.header td:first-child div.weapons {
	}
.sheet tr.header td:first-child div.weapons:after { box-sizing: border-box; border: solid calc(var(--size)/2) #ddd; border-bottom-color: transparent; border-top-width: 0; border-bottom-width: calc(var(--size)*5/6); margin-top: calc(var(--size)*-1/6); }
.sheet td { height: 24px; min-width: 32px; vertical-align: middle; padding: 2px 5px; border: solid 1px #000; border-top-width: 0; border-left-width: 0; }
.sheet td div { max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.card {
	--size: 36px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 4.5in;
	height: 7in;
	padding: var(--size);
	border: dotted .5px #ddd;
	border-radius: var(--size)
}
.card header,
	.card footer { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.card header div, .card footer div { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.card header:after, .card footer:after { content: ""; background-color: #000; min-width: var(--size); min-height: var(--size); }
.card footer { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.card figure { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; background: transparent center center no-repeat; background-size: contain; margin: var(--size) 0; }
.card.characters {
	}
.card.characters header,
		.card.characters footer {
	}
.card.characters header:after, .card.characters footer:after { border-radius: 50%; }
.card.weapons {
	}
.card.weapons header,
		.card.weapons footer {
	}
.card.weapons header:after, .card.weapons footer:after { box-sizing: border-box; border: solid calc(var(--size)/2) white; border-bottom-color: transparent; border-top-width: 0; border-bottom-width: calc(var(--size)*5/6); margin-top: calc(var(--size)*-1/6); }


@media print {
	html,
	body,
	#app {
		width: auto;
		height: auto;
	}
	#input {
		display: none;
	}
	#content {
		overflow: visible
	}
	#content > * { page-break-after: always; }
	.board,
	.sheet,
	.card {
		page-break-inside: avoid;
	}
	#sheets {
		width: 13in
	}
	#sheets .sheet { margin-bottom: 2in; }
	#sheets .sheet:nth-child(3n) { page-break-after: always; }
	#cards {
	}
	#cards .card { --scale: .5555555; -webkit-transform: scale(var(--scale)); transform: scale(var(--scale)); -webkit-transform-origin: left top; transform-origin: left top; margin-right: -2in; margin-bottom: -3.11111in; }
	#cards .card:nth-child(6n) { page-break-after: always; }
}